.navbar
  &__container
    display flex
    height 100%
    padding 2px

  &__playstop
    height 100%

  &__forward
    height 100%

  &__msg
    height 100%
    flex-grow 1

  &__log
    height 100%

  &__version
    height 100%
  
