.navbar
  &__container
    display flex
    height 100%
    align-items center
    padding 2px

  &__playstop
    height 100%

  &__forward
    height 100%

  &__msg
    flex-grow 1


  /*&__log

  &__version
*/
  
