.navbar
  &__container
    display flex
    height 100%
    align-items center
    padding 2px

  &__playstop
    height 100%

  &__forward
    height 100%

  &__msg
    padding 2px

  &__msg

  &__log

  &__version

  
